---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Desarrollo de software personalizado",
    price: "Custom",
    popular: false,
    features: [
      "Análisis de necesidades específicas",
      "Diseño a medida",
      "Integración con sistemas existentes",
      "Escalabilidad",
      "Enfoque en la experiencia del usuario (UX/UI)",
      "Procesos Ágiles",
      "Seguridad Robusta",
      "MVPs y Entrega Modular"
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Consultorias en tecnologias de la informacion",
    price: "Custom",
    popular: true,
    features: [
      "Auditorías Tecnológicas",
      "Asesoramiento Estratégico",
      "Transformación Digital",
      "Consultoría en Cloud Computing",
      "Optimización de Procesos",
      "Capacitación y Soporte Técnico",
      "Gestión de Proyectos Tecnológicos",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Mantenimiento y Soporte de software",
    price: "Custom",
    popular: false,
    features: [
      "Mantenimiento Correctivo",
      "Mantenimiento Evolutivo",
      "Soporte Técnico Permanente",
      "Gestión de Actualizaciones",
      "Monitoreo Proactivo",
      "Pruebas y Validación",
      "Consultoría Post-Mantenimiento",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Servicios</Fragment>
      <Fragment slot="desc">
        Diferentes servicios para cubrir tus necesidades y cada fase de tu proyecto.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
