---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Mision",
    description:
      "Brindar soluciones tecnológicas a precios competitivos, desarrolladas por equipos con supervisión profesional y prácticas innovadoras. Calidad, accesibilidad y resultados eficientes son nuestras principales promesas.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Vision",
    description:
      "Ser una empresa líder en el desarrollo de software, reconocida por su calidad, innovación y compromiso con la satisfacción del cliente; De la mano de estudiantes en constante desarrollo. ",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Valores",
    description:
      "Compromiso, calidad, innovación, accesibilidad, eficiencia, Limpieza, Honestidad.",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Mision vision y Valores
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
